<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quedate Aquí</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <header class="header">
            <div class="menu container">
                <a href="#" class="logo"><img src="img/logo.png" alt=""></a>
                <input type="checkbox" id="menu"/>
                <label for="menu">
                    <img src="img/menu.svg" class="menu-icono" alt="">
                </label>
                <nav class="navbar">
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Explora</a></li>
                        <li><a href="#">Contactanos</a></li>
                        <li><a href="#">Reserva</a></li>
                        <a href="#" class="btn-1" routerLink="contact">Ingresar</a>
                        
                        
                    </ul>
                </nav>
                <div class="socials-1">
                    <a href="#"><img src="img/user.svg" alt=""></a>
                    <a href="#"><img src="img/lupa.svg" alt=""></a>
                    
                </div>
            </div>
            <div class="header-content container">
                <div class="header-txt">
                    <h1>Bogotá es tu casa QUEDATE AQUÍ</h1>
                    <P>Convivir con otras personas es 
                        una nueva forma de alojamiento
                    </P>
                    
                </div>
                <div class="header-img">
                    <img src="img/casa.jpg" alt="">
                </div>
            </div>
       
    </header>
    <main class="content container">
        <div class="contenedor">
            <div class="form-content">
                <form>
                    <input class="campo" type="date" name="name" placeholder="Check in">
                    <input class="campo" type="date" name="email" placeholder="Check out">
                    <input class="campo" type="number" name="name" placeholder="Adultos">
                    <input class="campo" type="number" name="name" placeholder="Niños">
                    <input class="btn-2" type="submit" value="Buscar">
                </form>

            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer-links">
                <div class="link-img">
                    <img src="img/logo.png" alt="">
                    <div class="socials-2">
                        <a href="https://www.instagram.com/"><img src="img/instagram.svg" alt=""></a>
                        <a href="https://x.com/?lang=es"><img src="img/twitter.svg" alt=""></a>
                        <a href="#"><img src="img/mail.svg" alt=""></a>

                    </div>
                </div>
                <div class="link">
                    <h3>Contactanos</h3>
                    <ul>
                        <li><a href="#">Email</a></li>
                        <li><a href="#">Telefonos</a></li>
                        <li><a href="#">Dirección</a></li>
                    </ul>
                    <h3>Acceptamos</h3>
                    <ul>
                        <li><a href="#">Visa</a></li>
                        <li><a href="#">Mastercard</a></li>
                        <li><a href="#">PSE</a></li>
                    </ul>
                    <h3>PQR</h3>
                    <ul>
                        <li><a href="#">PQRS</a></li>
                        
                    </ul>

                </div>
            </div>
            <div class="footer-copy">
                <p>Quedate Aquí 2024, Inc.</p>
            </div>
        </div>

    </footer>
</body>
</html>
